<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('.btn-floating').click(function(){
                $('form').submit();
            });
        });
    </script>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue lighten-2">
            <a href="#" class="brand-logo right">Contact v2</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="ContactV2?lang=fr_FR" th:text="#{langue.francais}"></a></li>
                <li><a href="ContactV2?lang=en_GB" th:text="#{langue.anglais}"></a></li>
            </ul>
        </div>
    </nav>
</div>
<a href="/Info" class="btn-small orange lighten-1" style="float: right; margin: 5px">?</a>
<div style="margin: auto; width: 80%;">
    <div class="row">
        <h1>
            <span th:text="#{contact.form}"></span>
        </h1>
        <p style="padding-left: 10px; padding-bottom: 10px" th:text="#{contact.technologies}"></p>
        <form class="col s12" action="/ContactV2/Add" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="John" id="first_name" name="prenom" type="text" class="validate">
                    <label for="first_name" th:text="#{contact.prenom}"></label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="DOE" id="last_name" name="nom" type="text" class="validate">
                    <label for="last_name" th:text="#{contact.nom}"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="jdoe@gmail.com" id="email" name="mail" type="email" class="validate">
                    <label for="email" th:text="#{contact.email}"></label>
                </div>
            </div>
            <a class="btn-floating btn-large waves-effect waves-light light-blue lighten-1" style="float: right;"><i class="material-icons">+</i></a>
        </form>
    </div>

    <div class="row">
        <h2 th:text="#{contact.liste}"></h2>
        <table class="striped">
            <thead>
                <tr>
                    <th th:text="#{contact.liste.nom}"></th>
                    <th th:text="#{contact.liste.prenom}"></th>
                    <th th:text="#{contact.liste.email}"></th>
                    <th th:text="#{contact.liste.action}"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="contact : ${contacts}">
                    <td data-th-text="${contact.nom}"></td>
                    <td data-th-text="${contact.prenom}"></td>
                    <td data-th-text="${contact.mail}"></td>
                    <td>
                        <a th:href="|/ContactV2/Delete/?id=${contact.id}|" class="waves-effect waves-light btn-small red lighten-1">x</a>
                        <a th:href="|/ContactV2/Update/?id=${contact.id}|" class="waves-effect waves-light btn-small green lighten-1">/</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>