<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <style>
        .page-info {
            margin: auto;
            width: 80%;
        }
        a:hover {
            opacity: 0.5;
        }
    </style>
    <script>
        $(function(){
            var cpt = 0;
            $('body').click(function(){
                var color = ['red', 'orange', 'black', 'green'];
                cpt++; cpt = cpt%4;
                $('h1').css('color',color[cpt]);
            });
        });
    </script>
</head>
<body>
<div class="page-info">
    <h1>Information</h1>
    <p>C'est une première version de l'application qui nécessite plusieurs améliorations.</p>
    <ol>
        <li>Un système de logging</li>
        <li>Un système de profiles : dev et prod. Le dev contiendra affichera les logs</li>
        <li>Le rollback des transactions en phase de test</li>
        <li>Utilisation des .properties des différents composants (hibernate, thymeleaf etc.)</li>
        <li>Un système d'internationalisation</li>
    </ol>
    <p>Ce sera les objectifs à tenir pour la V2.</p>
    <p><a href="/Contact">Back to the App</a></p>
</div>
</body>
</html>